@using DotNet8Mvc.NLayerArchitecture.Models.Features
@using DotNet8Mvc.NLayerArchitecture.Models.Features.Blog

@model Result<BlogListResponseModel>;

@{
    ViewData["Title"] = "Blog Management";
    var success = TempData["success"];
    var error = TempData["error"];
}

@if (error is not null)
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

@if (success is not null)
{
    <div class="alert alert-success" role="alert">
        @success
    </div>
}

@if (Model.Data.DataLst.Count == 0)
{
    <h3>No Data.</h3>
}
else
{
    <a href="/Blog/CreateBlog" class="btn btn-outline-dark mb-3">Create Blog</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Blog Id</th>
                <th>Blog Title</th>
                <th>Blog Author</th>
                <th>Blog Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data.DataLst)
            {
                <tr>
                    <td>@item.BlogId</td>
                    <td>@item.BlogTitle</td>
                    <td>@item.BlogAuthor</td>
                    <td>@item.BlogContent</td>
                </tr>
            }
        </tbody>
    </table>
}
